<template>
  <svg
    width="60"
    height="60"
    viewBox="0 0 60 60"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_4_693)">
      <path
        d="M30 56.875C15.175 56.875 3.125 44.825 3.125 30C3.125 15.175 15.175 3.125 30 3.125C44.825 3.125 56.875 15.175 56.875 30C56.875 44.825 44.825 56.875 30 56.875ZM30 6.875C17.25 6.875 6.875 17.25 6.875 30C6.875 42.75 17.25 53.125 30 53.125C42.75 53.125 53.125 42.75 53.125 30C53.125 17.25 42.75 6.875 30 6.875Z"
        fill="#3B9F0C"
      />
      <path
        d="M30 41.875C23.45 41.875 18.125 36.55 18.125 30C18.125 23.45 23.45 18.125 30 18.125C36.55 18.125 41.875 23.45 41.875 30C41.875 36.55 36.55 41.875 30 41.875ZM30 21.875C25.525 21.875 21.875 25.525 21.875 30C21.875 34.475 25.525 38.125 30 38.125C34.475 38.125 38.125 34.475 38.125 30C38.125 25.525 34.475 21.875 30 21.875Z"
        fill="#3B9F0C"
      />
      <path
        d="M52.9249 21.8751C52.7999 21.8751 52.65 21.8501 52.525 21.8251C45.1749 20.2251 37.7499 20.2251 30.3999 21.8251C29.3749 22.0501 28.3999 21.4001 28.1749 20.4001C27.9499 19.3751 28.5999 18.4001 29.5999 18.1751C37.4749 16.4501 45.4499 16.4501 53.3249 18.1751C54.3249 18.4001 54.9749 19.4001 54.7499 20.4001C54.5749 21.2751 53.7999 21.8751 52.9249 21.8751Z"
        fill="#3B9F0C"
      />
      <path
        d="M21.35 36.875C20.825 36.875 20.3 36.65 19.925 36.225C14.725 30.25 10.775 23.425 8.15002 15.925L9.87502 15.15L11.65 14.55L11.7 14.7C14.15 21.725 17.875 28.15 22.775 33.775C23.45 34.55 23.375 35.75 22.6 36.425C22.225 36.725 21.775 36.875 21.35 36.875Z"
        fill="#3B9F0C"
      />
      <path
        d="M27.2 56.7249C26.75 56.7249 26.3 56.5749 25.95 56.2499C25.175 55.5499 25.125 54.3749 25.825 53.5999C30.825 48.0999 34.525 41.7249 36.825 34.6499C37.15 33.6749 38.25 33.0249 39.225 33.3499C40.2 33.6749 40.775 34.6249 40.475 35.5999C37.95 43.3999 33.975 50.2499 28.625 56.1499C28.225 56.5249 27.7 56.7249 27.2 56.7249Z"
        fill="#3B9F0C"
      />
    </g>
    <defs>
      <clipPath id="clip0_4_693">
        <rect width="60" height="60" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
