<template>
  <svg
    width="60"
    height="60"
    viewBox="0 0 60 60"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_4_544)">
      <path
        d="M35.1 56.875H23.125C19.075 56.875 15.4 55.3 12.75 52.4C10.1 49.525 8.82502 45.725 9.17502 41.7C10.025 31.45 19.075 23.125 29.375 23.125C38.85 23.125 47.8 30.725 49.375 40.05C50.125 44.5 49.025 48.7 46.325 51.9C43.575 55.1 39.6 56.875 35.1 56.875ZM29.35 26.875C20.975 26.875 13.6 33.675 12.9 42.025C12.65 45 13.575 47.775 15.5 49.875C17.425 51.975 20.125 53.125 23.1 53.125H35.075C38.45 53.125 41.425 51.825 43.4 49.5C45.375 47.175 46.175 44.025 45.625 40.675C44.375 33.075 37.075 26.875 29.35 26.875Z"
        fill="#3B9F0C"
      />
      <path
        d="M26.175 20.625C21.7001 20.625 18.05 16.975 18.05 12.5C18.05 8.025 21.7001 4.375 26.175 4.375C30.6501 4.375 34.3001 8.025 34.3001 12.5C34.3001 16.975 30.675 20.625 26.175 20.625ZM26.175 8.125C23.7751 8.125 21.8001 10.1 21.8001 12.5C21.8001 14.9 23.7751 16.875 26.175 16.875C28.5751 16.875 30.55 14.9 30.55 12.5C30.55 10.1 28.6 8.125 26.175 8.125Z"
        fill="#3B9F0C"
      />
      <path
        d="M43.25 23.625C39.45 23.625 36.375 20.55 36.375 16.75C36.375 12.95 39.45 9.875 43.25 9.875C47.05 9.875 50.125 12.95 50.125 16.75C50.125 20.55 47.05 23.625 43.25 23.625ZM43.25 13.625C41.525 13.625 40.125 15.025 40.125 16.75C40.125 18.475 41.525 19.875 43.25 19.875C44.975 19.875 46.375 18.475 46.375 16.75C46.375 15.025 44.975 13.625 43.25 13.625Z"
        fill="#3B9F0C"
      />
      <path
        d="M52.5 33.625C49.4 33.625 46.875 31.1 46.875 28C46.875 24.9 49.4 22.375 52.5 22.375C55.6 22.375 58.125 24.9 58.125 28C58.125 31.1 55.6 33.625 52.5 33.625ZM52.5 26.125C51.475 26.125 50.625 26.975 50.625 28C50.625 29.025 51.475 29.875 52.5 29.875C53.525 29.875 54.375 29.025 54.375 28C54.375 26.975 53.525 26.125 52.5 26.125Z"
        fill="#3B9F0C"
      />
      <path
        d="M9.92505 28.625C6.12505 28.625 3.05005 25.55 3.05005 21.75C3.05005 17.95 6.12505 14.875 9.92505 14.875C13.725 14.875 16.8 17.95 16.8 21.75C16.8 25.55 13.725 28.625 9.92505 28.625ZM9.92505 18.625C8.20005 18.625 6.80005 20.025 6.80005 21.75C6.80005 23.475 8.20005 24.875 9.92505 24.875C11.65 24.875 13.05 23.475 13.05 21.75C13.05 20.025 11.65 18.625 9.92505 18.625Z"
        fill="#3B9F0C"
      />
    </g>
    <defs>
      <clipPath id="clip0_4_544">
        <rect width="60" height="60" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
