<template>
  <svg
    width="60"
    height="60"
    viewBox="0 0 60 60"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_4_483)">
      <path
        d="M26.975 37.925C26.475 37.925 26 37.725 25.65 37.375L19.6 31.325C18.875 30.6 18.875 29.4 19.6 28.675C20.325 27.95 21.525 27.95 22.25 28.675L26.975 33.4L37.725 22.65C38.45 21.925 39.65 21.925 40.375 22.65C41.1 23.375 41.1 24.575 40.375 25.3L28.3 37.375C27.95 37.725 27.475 37.925 26.975 37.925Z"
        fill="#3B9F0C"
      />
      <path
        d="M30 56.875C28.425 56.875 26.85 56.35 25.625 55.3L21.675 51.9C21.275 51.55 20.275 51.2 19.75 51.2H15.45C11.75 51.2 8.74995 48.2 8.74995 44.5V40.225C8.74995 39.7 8.39995 38.725 8.04995 38.325L4.67495 34.35C2.62495 31.925 2.62495 28.1 4.67495 25.675L8.04995 21.7C8.39995 21.3 8.74995 20.325 8.74995 19.8V15.5C8.74995 11.8 11.75 8.8 15.45 8.8H19.775C20.2999 8.8 21.3 8.425 21.7 8.1L25.65 4.7C28.1 2.6 31.925 2.6 34.375 4.7L38.325 8.1C38.7249 8.45 39.725 8.8 40.25 8.8H44.5C48.2 8.8 51.2 11.8 51.2 15.5V19.75C51.2 20.275 51.575 21.275 51.925 21.675L55.325 25.625C57.4249 28.075 57.4249 31.9 55.325 34.35L51.925 38.3C51.575 38.7 51.2 39.7 51.2 40.225V44.475C51.2 48.175 48.2 51.175 44.5 51.175H40.25C39.725 51.175 38.7249 51.55 38.325 51.875L34.375 55.275C33.15 56.35 31.575 56.875 30 56.875ZM15.45 12.55C13.825 12.55 12.5 13.875 12.5 15.5V19.775C12.5 21.2 11.825 23.025 10.9 24.1L7.52495 28.075C6.64995 29.1 6.64995 30.875 7.52495 31.9L10.9 35.875C11.825 36.975 12.5 38.775 12.5 40.2V44.475C12.5 46.1 13.825 47.425 15.45 47.425H19.775C21.225 47.425 23.0499 48.1 24.15 49.05L28.1 52.45C29.125 53.325 30.9249 53.325 31.95 52.45L35.8999 49.05C37 48.125 38.825 47.425 40.275 47.425H44.525C46.15 47.425 47.475 46.1 47.475 44.475V40.225C47.475 38.775 48.15 36.95 49.1 35.85L52.5 31.9C53.375 30.875 53.375 29.075 52.5 28.05L49.1 24.1C48.15 23 47.475 21.175 47.475 19.725V15.5C47.475 13.875 46.15 12.55 44.525 12.55H40.275C38.825 12.55 37 11.875 35.8999 10.925L31.95 7.525C30.9249 6.65 29.125 6.65 28.1 7.525L24.15 10.95C23.0499 11.875 21.2 12.55 19.775 12.55H15.45Z"
        fill="#3B9F0C"
      />
    </g>
    <defs>
      <clipPath id="clip0_4_483">
        <rect width="60" height="60" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
