<template>
  <svg
    width="60"
    height="60"
    viewBox="0 0 60 60"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M30.025 56.8503C28.4501 56.8503 26.9001 56.3253 25.6751 55.2753L21.725 51.9003C21.325 51.5503 20.325 51.2003 19.8 51.2003H15.425C11.725 51.2003 8.72505 48.2003 8.72505 44.5003V40.2253C8.72505 39.7003 8.37505 38.7003 8.05005 38.3253L4.65005 34.3253C2.60005 31.9003 2.60005 28.1003 4.65005 25.6503L8.05005 21.6503C8.37505 21.2753 8.72505 20.2753 8.72505 19.7503V15.5003C8.72505 11.8003 11.725 8.80029 15.425 8.80029H19.75C20.275 8.80029 21.25 8.42529 21.675 8.07529L25.625 4.70029C28.075 2.62529 31.9 2.62529 34.35 4.70029L38.3 8.07529C38.7 8.42529 39.7251 8.77529 40.25 8.77529H44.5C48.2 8.77529 51.2 11.7753 51.2 15.4753V19.7253C51.2 20.2503 51.575 21.2253 51.925 21.6503L55.3 25.6003C57.4 28.0753 57.375 31.9003 55.3 34.3253L51.925 38.2753C51.575 38.7003 51.225 39.6753 51.225 40.2003V44.4503C51.225 48.1503 48.225 51.1503 44.525 51.1503H40.2751C39.75 51.1503 38.775 51.5253 38.3251 51.8753L34.375 55.2503C33.15 56.3253 31.5751 56.8503 30.025 56.8503ZM15.425 12.5503C13.8 12.5503 12.475 13.8753 12.475 15.5003V19.7503C12.475 21.1753 11.825 22.9753 10.9 24.0753L7.50005 28.0753C6.65005 29.1003 6.65005 30.9003 7.50005 31.9003L10.875 35.8753C11.775 36.9003 12.45 38.7753 12.45 40.2003V44.4753C12.45 46.1003 13.775 47.4253 15.4 47.4253H19.75C21.15 47.4253 23 48.1003 24.1 49.0253L28.075 52.4253C29.1 53.3003 30.9001 53.3003 31.9251 52.4253L35.875 49.0503C37 48.1003 38.8251 47.4503 40.225 47.4503H44.475C46.1 47.4503 47.425 46.1253 47.425 44.5003V40.2503C47.425 38.8503 48.1 37.0253 49.025 35.9003L52.425 31.9253C53.3 30.9003 53.3 29.1003 52.425 28.0753L49.05 24.1253C48.1 23.0003 47.45 21.1753 47.45 19.7753V15.5003C47.45 13.8753 46.125 12.5503 44.5 12.5503H40.25C38.8251 12.5503 36.9751 11.8753 35.875 10.9503L31.9 7.55029C30.875 6.67529 29.1 6.67529 28.05 7.55029L24.125 10.9503C23 11.8753 21.175 12.5503 19.75 12.5503H15.425Z"
      fill="#D61919"
    />
    <path
      d="M30 42.1753C28.625 42.1753 27.5 41.0503 27.5 39.6753C27.5 38.3003 28.6 37.1753 30 37.1753C31.375 37.1753 32.5 38.3003 32.5 39.6753C32.5 41.0503 31.4 42.1753 30 42.1753Z"
      fill="#D61919"
    />
    <path
      d="M30 34.2997C28.975 34.2997 28.125 33.4497 28.125 32.4247V20.3247C28.125 19.2997 28.975 18.4497 30 18.4497C31.025 18.4497 31.875 19.2997 31.875 20.3247V32.3997C31.875 33.4497 31.05 34.2997 30 34.2997Z"
      fill="#D61919"
    />
  </svg>
</template>
