<template>
  <svg
    width="60"
    height="60"
    viewBox="0 0 60 60"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_4_621)">
      <path
        d="M33.95 56.8749H15.525C8.675 56.8749 3.125 51.2999 3.125 44.4749V26.1749C3.125 19.3249 8.7 13.7749 15.525 13.7749H33.95C40.8 13.7749 46.35 19.3499 46.35 26.1749V44.4749C46.35 51.2999 40.775 56.8749 33.95 56.8749ZM15.525 17.5249C10.75 17.5249 6.875 21.3999 6.875 26.1749V44.4749C6.875 49.2499 10.75 53.1249 15.525 53.1249H33.95C38.725 53.1249 42.6 49.2499 42.6 44.4749V26.1749C42.6 21.3999 38.725 17.5249 33.95 17.5249H15.525Z"
        fill="#3B9F0C"
      />
      <path
        d="M13.75 11.875C12.725 11.875 11.875 11.025 11.875 10V5.625C11.875 4.6 12.725 3.75 13.75 3.75C14.775 3.75 15.625 4.6 15.625 5.625V10C15.625 11.025 14.775 11.875 13.75 11.875Z"
        fill="#3B9F0C"
      />
      <path
        d="M23.75 11.875C22.725 11.875 21.875 11.025 21.875 10V5.625C21.875 4.6 22.725 3.75 23.75 3.75C24.775 3.75 25.625 4.6 25.625 5.625V10C25.625 11.025 24.775 11.875 23.75 11.875Z"
        fill="#3B9F0C"
      />
      <path
        d="M33.75 11.875C32.725 11.875 31.875 11.025 31.875 10V5.625C31.875 4.6 32.725 3.75 33.75 3.75C34.775 3.75 35.625 4.6 35.625 5.625V10C35.625 11.025 34.775 11.875 33.75 11.875Z"
        fill="#3B9F0C"
      />
      <path
        d="M44.475 45.3C43.45 45.3 42.6 44.45 42.6 43.425V22.375C42.6 21.35 43.45 20.5 44.475 20.5C51.325 20.5 56.875 26.075 56.875 32.9C56.875 39.725 51.3 45.3 44.475 45.3ZM46.35 24.45V41.35C50.225 40.5 53.125 37.025 53.125 32.9C53.125 28.775 50.225 25.3 46.35 24.45Z"
        fill="#3B9F0C"
      />
      <path
        d="M43.775 31.875H5C3.975 31.875 3.125 31.025 3.125 30C3.125 28.975 3.975 28.125 5 28.125H43.775C44.8 28.125 45.65 28.975 45.65 30C45.65 31.025 44.8 31.875 43.775 31.875Z"
        fill="#3B9F0C"
      />
    </g>
    <defs>
      <clipPath id="clip0_4_621">
        <rect width="60" height="60" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
