<template>
  <svg
    width="60"
    height="60"
    viewBox="0 0 60 60"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M30 30.625C28.9 30.625 27.8 30.35 26.8 29.825L10.525 21.05C9.05 20.25 8.125 18.675 8.125 16.925C8.125 15.175 9.05 13.6 10.525 12.8L26.8 4.025C28.8 2.95 31.2 2.95 33.175 4.025L49.45 12.8C50.925 13.6 51.85 15.175 51.85 16.925C51.85 18.675 50.925 20.25 49.45 21.05L33.175 29.825C32.2 30.375 31.1 30.625 30 30.625ZM30 6.95C29.525 6.95 29.025 7.075 28.575 7.325L12.325 16.075C11.9 16.3 11.875 16.775 11.875 16.925C11.875 17.075 11.9 17.55 12.325 17.75L28.6 26.525C29.5 27 30.525 27 31.425 26.525L47.7 17.75C48.1 17.525 48.15 17.05 48.15 16.925C48.15 16.775 48.125 16.3 47.7 16.1L31.425 7.325C30.975 7.075 30.475 6.95 30 6.95Z"
      fill="#ABAE0C"
    />
    <path
      d="M24.45 56.7999C23.75 56.7999 23.025 56.6249 22.375 56.2999L7.225 48.7499C4.7 47.4749 3.125 44.9249 3.125 42.0999V27.7999C3.125 26.1749 3.95 24.6999 5.325 23.8499C6.725 22.9999 8.4 22.9249 9.85 23.6499L25 31.1999C27.525 32.4749 29.1 34.9999 29.1 37.8499V52.1499C29.1 53.7749 28.275 55.2499 26.9 56.0999C26.15 56.5749 25.3 56.7999 24.45 56.7999ZM7.775 26.8999C7.575 26.8999 7.4 26.9749 7.3 27.0249C7.15 27.1249 6.875 27.3499 6.875 27.7999V42.0999C6.875 43.4999 7.65 44.7749 8.9 45.3999L24.025 52.9749C24.425 53.1749 24.75 53.0249 24.9 52.9499C25.05 52.8499 25.325 52.6249 25.325 52.1749V37.8749C25.325 36.4749 24.55 35.1999 23.3 34.5749L8.175 26.9999C8.025 26.9249 7.9 26.8999 7.775 26.8999Z"
      fill="#ABAE0C"
    />
    <path
      d="M35.5499 56.8C34.6999 56.8 33.8499 56.575 33.0999 56.1C31.7249 55.25 30.8999 53.775 30.8999 52.15V37.85C30.8999 35.025 32.4749 32.475 34.9999 31.2L50.1249 23.625C51.5749 22.9 53.2749 22.975 54.6499 23.825C56.0249 24.675 56.8499 26.15 56.8499 27.775V42.075C56.8499 44.9 55.2749 47.45 52.7499 48.725L37.6249 56.3C36.9749 56.65 36.2499 56.8 35.5499 56.8ZM52.2249 26.9C52.0999 26.9 51.9749 26.925 51.8249 27L36.6999 34.575C35.4499 35.2 34.6749 36.45 34.6749 37.875V52.175C34.6749 52.625 34.9499 52.85 35.0999 52.95C35.2499 53.05 35.5749 53.175 35.9749 52.975L51.0999 45.4C52.3499 44.775 53.1249 43.5 53.1249 42.1V27.8C53.1249 27.35 52.8499 27.125 52.6999 27.025C52.5999 26.975 52.4249 26.9 52.2249 26.9Z"
      fill="#ABAE0C"
    />
  </svg>
</template>
