<template>
  <svg
    width="60"
    height="60"
    viewBox="0 0 60 60"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_4_711)">
      <path
        d="M37.5 56.875H22.5C8.925 56.875 3.125 51.075 3.125 37.5V22.5C3.125 8.925 8.925 3.125 22.5 3.125H37.5C51.075 3.125 56.875 8.925 56.875 22.5V37.5C56.875 51.075 51.075 56.875 37.5 56.875ZM22.5 6.875C10.975 6.875 6.875 10.975 6.875 22.5V37.5C6.875 49.025 10.975 53.125 22.5 53.125H37.5C49.025 53.125 53.125 49.025 53.125 37.5V22.5C53.125 10.975 49.025 6.875 37.5 6.875H22.5Z"
        fill="#3B9F0C"
      />
      <path
        d="M22.05 24.3751C19.925 24.3751 17.8 23.5751 16.175 21.9501C15.45 21.2251 15.45 20.0251 16.175 19.3001C16.9 18.5751 18.1 18.5751 18.825 19.3001C20.6 21.0751 23.5 21.0751 25.275 19.3001C26 18.5751 27.2 18.5751 27.925 19.3001C28.65 20.0251 28.65 21.2251 27.925 21.9501C26.3 23.5501 24.175 24.3751 22.05 24.3751Z"
        fill="#3B9F0C"
      />
      <path
        d="M37.95 24.3751C35.825 24.3751 33.7 23.5751 32.075 21.9501C31.35 21.2251 31.35 20.0251 32.075 19.3001C32.8 18.5751 34 18.5751 34.725 19.3001C36.5 21.0751 39.4 21.0751 41.175 19.3001C41.9 18.5751 43.1 18.5751 43.825 19.3001C44.55 20.0251 44.55 21.2251 43.825 21.9501C42.2 23.5501 40.075 24.3751 37.95 24.3751Z"
        fill="#3B9F0C"
      />
      <path
        d="M30 47.875C22.75 47.875 16.875 41.975 16.875 34.75C16.875 32.475 18.725 30.625 21 30.625H39C41.275 30.625 43.125 32.475 43.125 34.75C43.125 41.975 37.25 47.875 30 47.875ZM21 34.375C20.8 34.375 20.625 34.55 20.625 34.75C20.625 39.925 24.825 44.125 30 44.125C35.175 44.125 39.375 39.925 39.375 34.75C39.375 34.55 39.2 34.375 39 34.375H21Z"
        fill="#3B9F0C"
      />
    </g>
    <defs>
      <clipPath id="clip0_4_711">
        <rect width="60" height="60" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
