<template>
  <svg
    width="60"
    height="60"
    viewBox="0 0 60 60"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_4_719)">
      <path
        d="M37.5 56.875H22.5C8.925 56.875 3.125 51.075 3.125 37.5V22.5C3.125 8.925 8.925 3.125 22.5 3.125H37.5C51.075 3.125 56.875 8.925 56.875 22.5V37.5C56.875 51.075 51.075 56.875 37.5 56.875ZM22.5 6.875C10.975 6.875 6.875 10.975 6.875 22.5V37.5C6.875 49.025 10.975 53.125 22.5 53.125H37.5C49.025 53.125 53.125 49.025 53.125 37.5V22.5C53.125 10.975 49.025 6.875 37.5 6.875H22.5Z"
        fill="#D61919"
      />
      <path
        d="M26.6 23.7501C26.125 23.7501 25.65 23.5751 25.275 23.2001C23.5 21.4251 20.6 21.4251 18.825 23.2001C18.1 23.9251 16.9 23.9251 16.175 23.2001C15.45 22.4751 15.45 21.2751 16.175 20.5501C19.4 17.3251 24.675 17.3251 27.925 20.5501C28.65 21.2751 28.65 22.4751 27.925 23.2001C27.55 23.5751 27.075 23.7501 26.6 23.7501Z"
        fill="#D61919"
      />
      <path
        d="M33.4 23.7501C32.925 23.7501 32.45 23.5751 32.075 23.2001C31.35 22.4751 31.35 21.2751 32.075 20.5501C35.3 17.3251 40.575 17.3251 43.825 20.5501C44.55 21.2751 44.55 22.4751 43.825 23.2001C43.1 23.9251 41.9 23.9251 41.175 23.2001C39.4 21.4251 36.5 21.4251 34.725 23.2001C34.375 23.5751 33.9 23.7501 33.4 23.7501Z"
        fill="#D61919"
      />
      <path
        d="M39 46.125H21C18.725 46.125 16.875 44.275 16.875 42C16.875 34.775 22.75 28.875 30 28.875C37.25 28.875 43.125 34.775 43.125 42C43.125 44.275 41.275 46.125 39 46.125ZM30 32.625C24.825 32.625 20.625 36.825 20.625 42C20.625 42.2 20.8 42.375 21 42.375H39C39.2 42.375 39.375 42.2 39.375 42C39.375 36.825 35.175 32.625 30 32.625Z"
        fill="#D61919"
      />
    </g>
    <defs>
      <clipPath id="clip0_4_719">
        <rect width="60" height="60" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
