<template>
  <div class="text-center">
    <button
      class="btn btn-info width-150"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#quizModal"
    >Create quizes</button>
  </div>
</template>
