<template>
  <Cube />
  <Ball />
  <Bear />
  <CloudAttention />
  <CloudCheck />
  <CoffeCup />
  <HappyFace />
  <SadFace />
</template>

<script setup>
import Ball from "../shared/icons/Ball.vue";
import Bear from "../shared/icons/Bear.vue";
import CloudAttention from "../shared/icons/CloudAttention.vue";
import CloudCheck from "../shared/icons/CloudCheck.vue";
import CoffeCup from "../shared/icons/CoffeCup.vue";
import Cube from "../shared/icons/Cube.vue";
import HappyFace from "../shared/icons/HappyFace.vue";
import SadFace from "../shared/icons/SadFace.vue";
</script>
