<template>
  <div class="d-flex flex-wrap my-5 justify-content-center">
    <button
      v-for="(quiz, index) in props.allQuizes"
      :key="quiz.quizType + index"
      class="btn btn-primary m-2"
      @click="$emit('select-quiz', quiz.quizes)"
    >
      {{ quiz.quizType }}

      <span class="badge bg-white text-dark ms-2">{{
        quiz.quizes.length
      }}</span>
    </button>
  </div>
</template>

<script setup>
const props = defineProps({
  allQuizes: {
    type: Array,
    required: true,
  },
});
</script>
