<template>
  <div class="timer my-3">
    <svg viewBox="0 0 36 36" class="circular-chart">
      <path
        class="circle-bg"
        d="M18 2.0845
           a 15.9155 15.9155 0 0 1 0 31.831
           a 15.9155 15.9155 0 0 1 0 -31.831"
      />
      <path
        class="circle"
        :stroke-dasharray="circumference"
        :stroke-dashoffset="offset"
        d="M18 2.0845
           a 15.9155 15.9155 0 0 1 0 31.831
           a 15.9155 15.9155 0 0 1 0 -31.831"
      />
      <text x="18" y="20.35" class="percentage">{{ remainingSeconds }}</text>
    </svg>
  </div>
</template>

<script>
export default {
  props: {
    seconds: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      totalSeconds: 0,
      remainingSeconds: 0,
      interval: null,
      circumference: 100,
    };
  },
  computed: {
    offset() {
      const progress = this.remainingSeconds / this.totalSeconds;
      return this.circumference - progress * this.circumference;
    },
  },

  methods: {
    startTimer() {
      this.interval = setInterval(() => {
        if (this.remainingSeconds > 0) {
          this.remainingSeconds--;
        } else {
          clearInterval(this.interval);
        }
      }, 1000);
    },
  },

  mounted() {
    this.totalSeconds = this.seconds;
    this.remainingSeconds = this.seconds;
    this.startTimer();
  },
};
</script>
