<template>
  <div class="p-5">
    <h3>Answers</h3>
    <h6>You got {{ correctAnswers }} out of {{ quizes.length }} correct</h6>
    <div v-for="(quiz, index) in quizes" :key="quiz.question + index" class="my-3">
      <div>{{ index + 1 }}. {{ quiz.question }}</div>
      <small
        class="fw-bold"
        :class="[quiz.correct ? 'text-success' : 'text-danger']"
      >{{ quiz.answer }}</small>
    </div>

    <div class="d-flex justify-content-center">
      <button class="btn btn-primary" @click="$emit('restart')">Back to quizes</button>
    </div>
  </div>
</template>

<script setup>
import { computed } from "vue";

const props = defineProps({
  quizes: {
    type: Array,
    required: true,
  },
});

// computed prop to get the correct answers
const correctAnswers = computed(() => {
  return props.quizes.filter((quiz) => quiz.correct).length;
});
</script>
