<template>
  <div
    :class="`d-flex justify-content-${!hidePrevious ? 'between' : 'end'} m-2 pb-4`"
    v-if="quizes.length > 0 && !finished"
  >
    <div @click="$emit('previous-step')" v-if="!hidePrevious">
      <button class="btn btn-primary width-100">Previous</button>
    </div>
    <div @click="$emit('next-step')">
      <button class="btn btn-primary width-100">{{ !hideNext ? "Next" : "Finish" }}</button>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  quizes: {
    type: Array,
    required: true,
  },
  step: {
    type: Number,
    required: true,
  },
  finished: {
    type: Boolean,
    required: true,
  },
  hideNext: {
    type: Boolean,
    default: false,
  },
  hidePrevious: {
    type: Boolean,
    default: false,
  },
});
</script>
