<template>
  <div>
    <div v-for="(quiz, index) in quizes" :key="quiz.question + index" class="mx-3">
      <div v-if="index === step && !finished">
        <h1 class="text-primary text-center mt-5">{{ quiz.question }}</h1>
        <div class="list-group list-group-flush my-3 p-1">
          <button
            v-for="(option, i) in quiz.options"
            :key="option"
            :class="`list-group-item my-2 list-group-item-action bg-${
              typeof quiz.correct === 'undefined'
                ? 'light'
                : quiz.optionIndex === i
                ? 'info border border-3 border-primary font-weight-bold text-primary'
                : 'light'
            }`"
            @click="$emit('select-option', option, i)"
          >{{ option }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  quizes: {
    type: Array,
    required: true,
  },
  step: {
    type: Number,
    required: true,
  },
  finished: {
    type: Boolean,
    required: true,
  },
});
</script>
