<template>
  <div v-if="quizes.length > 0 && !finished" class="d-flex flex-column">
    <button class="btn btn-danger mt-1 mx-auto" @click="$emit('stop-quiz')">Stop</button>
    <div
      class="mt-2 width-100 text-center mx-auto fs-5 fw-bold"
    >{{ step + 1 }} / {{ quizes.length }}</div>
  </div>
</template>

<script setup>
const props = defineProps({
  quizes: {
    type: Array,
    required: true,
  },
  step: {
    type: Number,
    required: true,
  },
  finished: {
    type: Boolean,
    required: true,
  },
});
</script>
