<template>
  <div>
    <BaseInput
      id="quizType"
      v-model="quizType"
      label="Quizes theme"
      placeholder="Enter quiz theme"
      :errorMessage="errors.quizType"
    />
    <div v-for="(quiz, index) in quizes" :key="index" class="mt-4 mb-5">
      <BaseInput
        :id="'question-' + index"
        v-model="quiz.question"
        :label="'Question ' + (index + 1)"
        placeholder="Question"
        :errorMessage="errors.quizes[index]?.question"
      />

      <div class="my-4">
        <div>Options</div>
        <div v-for="(option, optIndex) in quizes[index].options" :key="optIndex" class="mt-2 mx-3">
          <div class="d-flex align-items-center">
            <!-- Conditional rendering of icons based on whether the option is selected -->
            <font-awesome-icon
              :icon="isOptionSelected(option, index) ? ['fas', 'circle'] : ['far', 'circle']"
              :class="{'text-success': option && isOptionSelected(option, index)}"
              class="me-3 cursor-pointer"
              @click="selectOption(option, index)"
            />

            <div class="w-100">
              <BaseInput
                :id="'option-' + index + '-' + optIndex"
                v-model="quizes[index].options[optIndex]"
                :isLabel="false"
                :placeholder="'Option ' + (optIndex + 1)"
                :errorMessage="errors.quizes[index]?.options[optIndex]"
              />
            </div>
          </div>
        </div>
      </div>

      <div>
        <span>{{'Answer for Question ' + (index + 1)}}</span>
        <span :id="'answer-' + index" class="badge bg-light d-inline-block">{{ quiz.answer }}</span>
      </div>

      <button class="btn mt-2" @click="removeQuiz(index)">
        <TrashDelete />Remove Question
      </button>
    </div>
    <div class="mt-3">
      <button class="btn btn-primary mt-3" @click="addQuiz" :disabled="!isQuizesValid">Add Question</button>
      <button
        class="btn btn-primary mt-3 ms-2"
        @click="submit"
        :disabled="!isQuizesValid"
        data-bs-dismiss="modal"
      >
        Submit
        <span class="badge bg-white text-dark ms-2">{{ quizes.length }}</span>
      </button>
    </div>
  </div>
</template>

<script setup>
import { ref, computed } from "vue";
import BaseInput from "../shared/Inputs/BaseInput.vue";
import TrashDelete from "../shared/icons/TrashDelete.vue";

const emits = defineEmits(["submit"]);

const quizType = ref("");
const quizes = ref([
  {
    question: "",
    options: ["", "", "", ""],
    answer: "",
  },
]);
const errors = ref({
  quizType: "",
  quizes: [
    {
      question: "",
      options: ["", "", "", ""],
      answer: "",
    },
  ],
});

const selectOption = (option, index) => {
  quizes.value[index].answer = option;
};

const isOptionSelected = (option, index) => {
  return quizes.value[index].answer === option;
};

const isQuizesValid = computed(() => {
  return quizes.value.every((quiz) => {
    if (!quiz.question) return false;
    if (quiz.options.some((option) => !option)) return false;
    if (!quiz.answer) return false;
    return true;
  });
});

const addQuiz = () => {
  quizes.value.push({
    question: "",
    options: ["", "", "", ""],
    answer: "",
  });
  errors.value.quizes.push({
    question: "",
    options: ["", "", "", ""],
    answer: "",
  });
};

const removeQuiz = (index) => {
  quizes.value.splice(index, 1);
  errors.value.quizes.splice(index, 1);
};

const validate = () => {
  let isValid = true;
  if (!quizType.value) {
    errors.value.quizType = "Quiz type is required";
    isValid = false;
  } else {
    errors.value.quizType = "";
  }

  quizes.value.forEach((quiz, index) => {
    if (!quiz.question) {
      errors.value.quizes[index].question = "Question is required";
      isValid = false;
    } else {
      errors.value.quizes[index].question = "";
    }

    quiz.options.forEach((option, optIndex) => {
      if (!option) {
        errors.value.quizes[index].options[optIndex] = "Option is required";
        isValid = false;
      } else {
        errors.value.quizes[index].options[optIndex] = "";
      }
    });

    if (!quiz.answer) {
      errors.value.quizes[index].answer = "Answer is required";
      isValid = false;
    } else if (!quiz.options.includes(quiz.answer)) {
      errors.value.quizes[index].answer =
        "Answer must match one of the options";
      isValid = false;
    } else {
      errors.value.quizes[index].answer = "";
    }
  });

  return isValid;
};

const submit = () => {
  if (validate()) {
    const quizData = {
      quizType: quizType.value,
      quizes: quizes.value,
    };
    emits("submit", quizData);
  }
};

// Define the resetForm method
const resetForm = () => {
  quizType.value = "";
  quizes.value = [
    {
      question: "",
      options: ["", "", "", ""],
      answer: "",
    },
  ];
  errors.value = {
    quizType: "",
    quizes: [
      {
        question: "",
        options: ["", "", "", ""],
        answer: "",
      },
    ],
  };
};

defineExpose({
  resetForm,
});
</script>
