<template>
  <div class="mx-auto px-4">
    <div class="mb-3">
      <label for="model">Select LLM model</label>
      <select name="model" id="modle" class="form-select" v-model="selectedModel">
        <option
          v-for="(model, index) in models.models"
          :key="index"
          :value="model"
        >{{ model.model }}</option>
      </select>
    </div>

    <div class="row mb-3">
      <div class="col-3">
        <BaseInput
          id="input"
          type="number"
          v-model="number"
          label="Questions"
          placeholder="Enter number of questions"
        />
      </div>

      <div class="col-9">
        <label for="input" class="form-label text-primary w-100">Quizes theme</label>
        <input type="text" class="form-control" id="input" v-model="title" />
      </div>
    </div>

    <div>
      <label for="exampleFormControlTextarea1" class="form-label text-primary w-100">
        <div class="d-flex">
          <span>Content about</span>
          <span class="ms-auto">
            <Question />
          </span>
        </div>
      </label>
      <textarea
        type="text"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="5"
        v-model="questionAbout"
      ></textarea>
    </div>

    <button
      v-if="chat.length === 0"
      class="btn btn-primary mt-3 me-2"
      @click="postChatData(templateComputed)"
      :disabled="shouldContinue || !number || !title || !questionAbout || !selectedModel"
    >Generate</button>
    <button
      v-if="chat.length > 0"
      class="btn btn-primary mt-3 me-2"
      @click="regenerate"
      :disabled="shouldContinue || !number || !title || !questionAbout || !selectedModel"
    >Regenerate</button>
    <button
      v-if="chat.length > 0"
      class="btn btn-primary mt-3"
      @click="handleQuizSubmit"
      :disabled="shouldContinue || !number || !title || !questionAbout || !selectedModel"
      data-bs-dismiss="modal"
    >Submit</button>

    <div class="mt-5">
      <div v-for="(chat, index) in chat" :key="index">
        <div>
          <div v-if="index === 1" class="p-4" v-html="chat.content" ref="contentData"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import Question from "../shared/icons/Question.vue";
import BaseInput from "../shared/Inputs/BaseInput.vue";

import { computed, ref, defineProps } from "vue";
import { outputResult } from "../../helpers.js";
import { useStore } from "vuex";

// props
const props = defineProps({
  models: {
    type: Object,
    required: true,
  },
});

const selectedModel = ref("");

const store = useStore();

const handleQuizSubmit = (quizData) => {
  const joinedString = quizResponseData.value.join("");
  function cleanAndParseJSON(jsonString) {
    // Remove invalid JSON delimiters
    let cleanedString = jsonString.replace(/```json|```/g, "");

    try {
      let parsedObject = JSON.parse(cleanedString);
      return parsedObject;
    } catch (e) {
      console.error("Error parsing JSON string:", e);
      return null;
    }
  }

  const quizes = cleanAndParseJSON(joinedString);
  const quizType = title.value;
  store.dispatch("addQuiz", { quizes, quizType });
};

let result = ref("");
let messageArray = ref([]);
let shouldContinue = ref(false);
let chat = ref([]);

let number = ref(1);
let title = ref("");
let isGenerating = ref(false);
let questionAbout = ref("");
let quizResponseData = ref([]);

const templateComputed = computed(() => {
  return `Without explanations, just provide only JSON output: ${number.value} questions about ${questionAbout.value}. It is an array that has objects, each object having a question parameter as a string, options being an array with four strings, and an answer parameter as a string. To be clear, it is a quiz game; please provide only JavaScript output without any text explanations. Start immediately from markdown. Make sure to not provide explanations or suggestions only JSON output.`;
});

function regenerate() {
  chat.value = [];
  messageArray.value = [];
  result.value = "";
  postChatData(templateComputed);
}

function postChatData(prompt) {
  shouldContinue.value = true;
  chat.value.push({
    role: "user",
    content: prompt,
  });

  chat.value.push({
    role: "assistant",
    content: "",
  });

  const data = {
    model: selectedModel.value.name,
    messages: chat.value,
  };
  const url = "http://localhost:11434/api/chat";

  isGenerating.value = true;

  fetch(url, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify(data),
  })
    .then((response) => {
      const reader = response.body.getReader();
      const decoder = new TextDecoder("utf-8");

      const readStream = () => {
        if (!shouldContinue.value) {
          // console.log("Stream stopped by user.");
          reader.cancel();
          // clear last message
          chat.value.pop();
          chat.value.pop();
          messageArray.value = [];
          result.value = "";
          return;
        }
        reader
          .read()
          .then(({ done, value }) => {
            if (done) {
              // console.log("Stream finished.");
              isGenerating.value = false;
              shouldContinue.value = false;
              messageArray.value = [];
              return;
            }

            // Decode the stream chunk to text
            const chunk = decoder.decode(value, { stream: true });
            try {
              const data = JSON.parse(chunk);
              messageArray.value.push(data.message.content);
              quizResponseData.value.push(data.message.content);
              chat.value[chat.value.length - 1].content = outputResult(
                messageArray.value
              );
            } catch (error) {
              console.error("Error parsing JSON:", error);
            }

            readStream();
          })
          .catch((error) => {
            console.error("Error reading the stream:", error);
            isGenerating.value = false;
          });
      };

      readStream();
    })
    .catch((error) => {
      console.error("Fetch error:", error);
      isGenerating.value = false;
    });
}
</script>
