<template>
  <!-- Modal -->
  <div
    class="modal fade"
    id="quizModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h1
            class="modal-title fs-5"
            id="exampleModalLabel"
          >{{ currentComponent !== 'generate' && !modelsListEmpty ? 'Create quizes' : 'Generate quizes AI' }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pt-0">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" @click="showComponent('custom')">Create quizes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" @click="showComponent('generate')">Generate AI</a>
            </li>
          </ul>

          <div class="mt-4">
            <div v-if="currentComponent === 'generate'">
              <div v-if=" modelsListEmpty" class="alert alert-info" role="alert">{{ errorMsg }}</div>
              <Generate v-if="!modelsListEmpty" :models="models" />
            </div>
            <div v-if="currentComponent === 'custom'">
              <CustomQuiz @submit="handleQuizSubmit" ref="customQuizRef" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
// define emit
import { ref, computed, onMounted } from "vue";

import Generate from "./Generate.vue";
import CustomQuiz from "./CustomQuiz.vue";

const models = ref([]);
const currentComponent = ref("custom");
const errorMsg = ref("");

const emit = defineEmits(["handleQuizSubmit"]);

const modelsListEmpty = computed(() => models.value.length === 0);

function showComponent(component) {
  currentComponent.value = component;
}

function handleQuizSubmit(data) {
  emit("handleQuizSubmit", data);
}

function getModels() {
  fetch("http://localhost:11434/api/tags")
    .then((response) => response.json())
    .then((data) => {
      models.value = data;
    })
    .catch((error) => {
      errorMsg.value =
        error.message +
        ", make sure the server is running. For now you can create custom quizes. Make sure docker is running, the ollama-api container. To run the container, go to the root of the project and run 'docker-compose up -d'. Check models is installed and running. Open a new terminal and run 'ollama run <model-name>'. P.S application still be functional, only without quizes generation feature.";
    });
}

onMounted(() => {
  getModels();
});
</script>
