<template>
  <div class="container-wrapper">
    <div v-if="quizes && quizes.length === 0">
      <h1 class="text-center text-primary mb-5">QuizQuaz</h1>
      <div class="text-center">
        <Icons />
        <SelectQuizesList
          v-if="allQuizes.length > 0"
          :allQuizes="allQuizes"
          @select-quiz="store.dispatch('setQuizes', $event)"
        />
      </div>
      <CreateQuiz />
    </div>

    <Finished v-if="quizes.length > 0 && finished" :quizes="quizes" @restart="finishAndRestart" />

    <div class="row">
      <div class="col-6">
        <CircularTimer v-if="quizes.length > 0 && !finished" :seconds="quizes.length * 10" />
      </div>

      <div class="col-6 align-self-center">
        <StopQuiz
          v-if="quizes.length > 0 && !finished"
          :quizes="quizes"
          :step="step"
          :finished="finished"
          @stop-quiz="stopQuiz"
        />
      </div>
    </div>

    <QuizesList
      v-if="quizes.length > 0 && !finished"
      :quizes="quizes"
      :step="step"
      :finished="finished"
      @select-option="checkAnswer"
    />

    <QuizNavButtons
      v-if="quizes.length > 0 && !finished"
      @next-step="nextStep"
      @previous-step="previousStep"
      :quizes="quizes"
      :step="step"
      :finished="finished"
      :hideNext="hideNext"
      :hidePrevious="hidePrevious"
    />

    <!-- Modal -->
    <QuizModal @handleQuizSubmit="handleQuizSubmit" />
  </div>
</template>

<script setup>
// modal components
import QuizModal from "./components/modal/QuizModal.vue";

// quiz components
import CircularTimer from "./components/quiz/CircularTimer.vue";
import Finished from "./components/quiz/Finished.vue";
import QuizesList from "./components/quiz/QuizesList.vue";
import StopQuiz from "./components/quiz/StopQuiz.vue";
import QuizNavButtons from "./components/quiz/QuizNavButtons.vue";

// landing components
import CreateQuiz from "./components/landing/CreateQuiz.vue";
import Icons from "./components/landing/Icons.vue";
import SelectQuizesList from "./components/landing/SelectQuizesList.vue";

import { computed, ref } from "vue";
import { useStore } from "vuex";

const store = useStore();

const allQuizes = computed(() => store.state.allQuizes);
const quizes = computed(() => store.state.quizes);
const step = computed(() => store.state.step);
const finished = computed(() => store.state.finished);
const hidePrevious = computed(() => store.getters.hidePrevious);
const hideNext = computed(() => store.getters.hideNext);

const stopQuiz = () => {
  store.dispatch("stopQuiz");
};

const handleQuizSubmit = (quizData) => {
  store.dispatch("addQuiz", quizData);
};

function previousStep() {
  store.dispatch("decrementStep");
}

function finishAndRestart() {
  store.dispatch("resetQuiz");
}

function nextStep() {
  store.dispatch("incrementStep");
}

function checkAnswer(option, index) {
  store.dispatch("checkAnswer", { option, index });
}
</script>
