@import 'variables';


.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}
.circle-bg {
  fill: none;
  stroke: linear-gradient(
    to bottom,
    lighten($warning, 30%) 50%,
    $warning 100%
  );
  stroke-width: 4;
}
.circle {
  fill: none;
  stroke: $yellow;
  stroke-width: 4;
  stroke-linecap: round;
  transition: stroke-dashoffset 1s linear;
}
.percentage {
  fill: #444;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
