$widths: 20, 40, 60, 80, 100, 120, 140, 160, 180, 200, 220, 240, 260, 280, 300;

@each $width in $widths {
  .min-width-#{$width} {
    min-width: #{$width}px;
  }
  .max-width-#{$width} {
    max-width: #{$width}px;
  }
  .width-#{$width} {
    width: #{$width}px;
  }
}

.vh-100 {
  // height: 100vh;
  // height: 100%;
}

.cursor {
  cursor: pointer;
}
