@import "variables";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $warning;
  overflow: auto;
}

.container-wrapper {
  padding: 10px;
  margin: 0 auto;
  background: linear-gradient(
    to bottom,
    lighten($warning, 30%) 50%,
    $warning 100%
  );
}


@import "bootswatch";
@import "utils";
@import "_circularTimer";
